.seeButton{
    margin-right: 2%;
}
.table{
    background-color:#fff;
}
.btn-cool-blues {
    background: #677d83;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #d4d4d4, #677d83);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #d4d4d4, #677d83); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}
.btn-rounded {
    border-radius: 10px;
}

.btn-green-moon {
    background: #56ab2f;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}
.btn-pink-moon {
    background: #ce0202;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ce0202);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ce0202); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}
.validation{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e92020;
}