.card_curso_img{
    width: 286px;
    height: 200px;
}
.course_card{
    height: 96px;
}
.course_card:hover{
    cursor: pointer;
}
.cards{
    margin-bottom: 1%;
}
.to-course{
    background-color: #54ae9e;
    color:white
}
.to-course:hover{
    background-color: #166b5b;
}
